.v-wrapper {
  aspect-ratio: 16 / 9;
  width: 80%;
  position: relative;
  overflow: hidden;
}

.cslider {
  aspect-ratio: 1 / 1;
  position: absolute;
  border: 1px solid rgb(15, 152, 187);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  .arrow {
    position: absolute;
  }
  .left-arrow {
    background-color: #fff;
  }
  .down-arrow {
    background-color: rgb(221, 64, 64);
  }
}

.slide-right-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  width: 20%;
  height: 100%;
  padding: 0 10px;

  .slider-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 100%;
    display: flex;

    .carousel.carousel-slider {
      display: flex;
    }
  }
}
