.swap-video {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .video-cnt {
    width: 100%!important;
    height: 100%!important;
  }
  
  .video-cnt > div {
    width: 100%!important;
    height: 100%!important;
  }
  
  .btns {
    position: fixed;
    bottom: 30px;
    align-items: center;
    text-align: center;
  }
  
  .btns button {
    margin: 10px 20px;
    border-radius: 50%;
    width : 100px;
    background: rgb(255, 91, 91);
    color: #fcfcfc;
    height: 100px;
    border: 5px solid rgb(20, 20, 20);
    font-size: 15px;
    font-weight: bold;
    outline: none;
    transition-duration: 0.5s;
  }
  
  .btns button:hover {
    box-shadow: 0 2px 40px 0 #919191;
  }
  
  .btns button:active {
    box-shadow: 0 0 0 0;
    transform: translate(0, 3px) ;
  }