//================================================
// Blackberrys One, Three  || Jnto

.iframe-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    iframe {
        height: 600px;
        width: 300px;
    }
}

.jnto-iframe-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #212121;
    display: flex;
    justify-content: center;
    iframe {
        width: 320px;
        height: 480px;
    } 
}

.clark-iframe-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #212121;
    display: flex;
    justify-content: center;
    iframe {
        width: 320px;
        height: 480px;
    } 
}

.philips-iframe-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #212121;
    display: flex;
    justify-content: center;
    overflow: hidden;
    iframe {
        width: 640px;
        height: 960px;
        overflow: hidden;
    } 
}

.lg-iframe-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #212121;
    display: flex;
    justify-content: center;
    overflow: hidden;
    iframe {
        width: 360px;
        height: 640px;
        overflow: hidden;
    } 
}


.aws-iframe-wrapper {
    iframe {
        width: 300px;
        height: 250px;
        overflow: hidden;
    } 
}
// ========================================================