#app {
    justify-content: center;
    text-align: center;
    text-align: -webkit-center;

    h1 {
        font-family: 'Mulish', sans-serif;
    }

    .video-wrapper {
        width: 70%;
    }
}