.video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    
    .hotspot-message {
        position: absolute;
        right: 10px;
        top: 0;
        z-index: 1;
        color: white;
    }

    .conti-btn {
        position: absolute;
        cursor: pointer;
        left: 50%;
        bottom: 10%;
        width: 150px;
        background-color: black;
        color: white;
        z-index: 1;
        padding: 0.5rem 1rem;
        border: 1px solid white;
        margin-left: -75px;
        text-align: center;
        font-family: Montserrat-Medium;
    }
}

// .transparent-layer {
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-color: transparent;
//     width: 100%;
//     height: 100%;
// }