@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

body {
	color: #424242;
	font-size: 14px;
	font-family: "pt_serifregular";
	background-color: #fff;
	padding: 0
}

input,
button,
textarea {
	background-color: transparent;
	border: none
}

button {
	cursor: pointer
}

iframe {
	border: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333;
	font-family: "open_sansregular";
	font-weight: normal
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	color: #333
}

@font-face {
    font-family: Montserrat-BoldItalic;
    src: url(../../assets/fonts/Montserrat-BoldItalic.ttf);
  }

@font-face {
    font-family: Montserrat-Bold;
    src: url(../../assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Light;
    src: url(../../assets/fonts/Montserrat-Light.ttf);
}

@font-face {
    font-family: Montserrat-ExtraBold;
    src: url(../../assets/fonts/Montserrat-ExtraBold.ttf);
}

    
@font-face {
	font-family: Montserrat-Medium;
	src: url(../../assets/fonts/Montserrat-Medium.ttf);
}