.navbar {
    position: relative!important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    img {
        margin: 0.5rem 1rem;
    }

    @media screen and (max-width: 600px) {
        img {
            margin: 0;
        }
    }
}

.navbar-brand {
    color: orangered!important;
    font-family: 'Montserrat', sans-serif;
    text-decoration: underline;
}

.navbar-light {
    .navbar-toggler {
        border: none;
    }
} 

.nav-item {
    margin: 1rem 1rem;
    a {
        font-family: 'Mulish', sans-serif;
        color: orange!important;
    }
}

