.navbar {
    position: relative!important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    img {
        width: 200px;
    }
}

.navbar-light {
    .navbar-toggler {
        border: none;
    }
} 

.nav-item {
    margin: 1rem 1rem;
    a {
        font-family: 'Mulish', sans-serif;
        font-weight: bolder;
        color: orange!important;
        padding: .5rem .5rem;
        display: inline;
    }
}

